$main-color: #26243F;
$main-color-alternate-hover: #1d1c33;
$secondary-color: #23D3CA;
$secondary-color-hover: #20bcb4;
$tertiary-color: #F26D77;
$tertiary-color-hover: #d66069;
$main-color-alternate : #211f38;
