.containerAssociation{
  margin-top: 8em;
}
.assoName{
  margin-left: 2em;
  margin-bottom: 1em;
}

.imgAsso{
  height: 25em;
  width: 35em;
}

.opinion{
  height: 15em;
  width: 23em;
}

.paragraph{
  width: 35em;
  margin-top: 1em;
}

.profiler{
  margin-left: 3em;
}

.share{
  margin-left:1em;
  margin-bottom: 1em;
}
 .title3{
   margin-bottom: 1em;
   font-weight: 900;
 }

 .contact{
   margin-top: 1em;
 }

.user{
  margin-left: 1em;
}

textarea{
  margin-left: 0.5em;
}

.lastAnimal{
  margin-right: 4em;
}
